.card__like-button:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__image:hover {
  cursor: pointer;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  align-items: center;
  padding-right: 20px;
  justify-content: space-between;
}

.card__like-button {
  background: url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
  position: relative;
}

.card__delete-button {
  background: url("../images/Trash.svg");
  height: 19.3px;
  width: 18px;
  position: absolute;
  border: none;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  cursor: pointer;
}
