.header {
  padding-top: 45px;
  max-width: 880px;
}

.header__line {
  opacity: 0.7;
  color: rgba(84, 84, 84, 1);
  margin-top: 41px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    padding-left: 27px;
    width: 126px;
    height: 28px;
  }

  .header__line {
    opacity: 0.7;
  }
}
