.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Ensure it's not interactive when hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.modal_opened .modal__container {
  transform: translateY();
}

.modal__container {
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  max-width: 330px;
  margin-bottom: 54px;
  margin-top: 0;
  font-weight: 900;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__form {
  max-width: 358px;
}

.modal__button-save {
  background-color: black;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  width: 358px;
  height: 50px;
  margin-top: 18.26px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.modal__input {
  width: 358px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
  font-family: "inter", Arial, Helvetica, sans-serif;
}

.modal__container_preview {
  padding: 0;
  background: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__preview-image {
  object-fit: contain;
  margin-bottom: 8px;
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
}

.modal__close-btn_type_preview {
  background-image: url(../images/Close\ Icon.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__preview-image-title {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity 0.3s;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.modal__error_visible {
  line-height: 15px;
  font-size: 12px;
  color: #ff0000;
}

.modal__button_disabled {
  background-color: black;
  opacity: 0.2;
  border: #000 solid 1px;
}

.modal__input:invalid {
  border-bottom: #ff0000;
}

@media screen and (max-width: 320px) {
  .modal__container {
    box-sizing: border-box;
    width: 282px;
    height: 322px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .modal__input {
    width: 100%;
    margin-bottom: 30px;
  }

  .modal__button-save {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 75px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 10px);
    left: 90%;
  }

  .modal__close-btn_type_preview {
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
